name: Unix-OpenMPI

on:
  pull_request:
  # Run daily at midnight (UTC).
  schedule:
    - cron: '0 0 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', 3.11, 3.12]

    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      name: Setup conda
      with:
        auto-update-conda: true
        activate-environment: testing
        auto-activate-base: false
        channels: defaults
        channel-priority: true
        python-version: ${{ matrix.python-version }}

    - shell: bash -l {0}
      name: Install dependencies
      run: |
        conda install -c conda-forge pytorch-cpu
        conda install -c pytorch numpy pandas
        conda install -c conda-forge mpi4py openmpi=5.*
        pip install .[test]
        pip install git+https://github.com/campa-consortium/gest-api.git
        pip install --upgrade-strategy=only-if-needed git+https://github.com/xopt-org/xopt.git
    - shell: bash -l {0}
      name: Run unit tests with openMPI
      run: |
        python -m pytest tests/
        mpirun -np 3 --oversubscribe python -m pytest --with-mpi tests/test_grid_sampling_mpi.py
