name: Unix-Without-Ax

on:
  pull_request:
  # Run daily at midnight (UTC).
  schedule:
    - cron: '0 0 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', 3.11, 3.12]

    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      name: Setup conda
      with:
        auto-update-conda: true
        activate-environment: testing
        auto-activate-base: false
        channels: defaults
        channel-priority: true
        python-version: ${{ matrix.python-version }}

    - shell: bash -l {0}
      name: Install dependencies
      run: |
        conda install numpy pandas pytorch cpuonly -c pytorch
        conda install -c conda-forge mpi4py mpich
        pip install .[test]
        pip install git+https://github.com/campa-consortium/gest-api.git
        pip install --upgrade-strategy=only-if-needed git+https://github.com/xopt-org/xopt.git@generator_standard
        pip uninstall --yes ax-platform # Run without Ax
    - shell: bash -l {0}
      name: Run unit tests without Ax
      run: |
        python -m pytest tests/ --ignore=tests/test_ax_generators.py --ignore=tests/test_ax_model_manager.py  --ignore=tests/test_gpu_resources.py
        mpirun -np 3 python -m pytest --with-mpi tests/test_grid_sampling_mpi.py
